@CHARSET "UTF-8";

/*Font*/
@font-face {
	font-family: Webly;
	src: url('../font/webly.ttf');
}

@font-face {
	font-family: Webly;
	src: url('../font/webly-bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: Webly;
	src: url('../font/webly-it.ttf');
	font-style: italic;
}

body {
	font-family: Webly, Helvetica, sans-serif;
	color: white;
	background-image: url("../img/page.jpg");
}

a {
	font-weight: bold;
	text-decoration: none;
	color: rgb(215, 91, 91);
}

a:HOVER {
	color: #FF6D56;
}

.feedback {
	color: #FF6D56;
	float: right;
	text-decoration: none;
}

.feedback:HOVER {
	color: white;
}

#message {
	position: absolute;
	margin-left: 3%;
	margin-top: -51px;
}


#container {
	width: 462px;
	margin: 150px auto 0px auto
}


#login-form {
	width: 400px;
	height: 300px;
	margin-bottom: 15px;
	border-radius: 10px;
	background-image: -ms-linear-gradient(bottom, #17181F 0%, #4F9BB3 100%);
	background-image: -moz-linear-gradient(bottom, #17181F 0%, #4F9BB3 100%);
	background-image: -o-linear-gradient(bottom, #17181F 0%, #4F9BB3 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #17181F),
		color-stop(1, #4F9BB3) );
	background-image: -webkit-linear-gradient(bottom, #182918 0%, #4F9BB3 100%);
	background-image: linear-gradient(to top, #17181F 0%, #4F9BB3 100%);
	-moz-box-shadow: 5px 5px 2px #888;
	-webkit-box-shadow: 5px 5px 2px #888;
	box-shadow: 5px 5px 2px #888;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	padding-left: 30px;
	padding-right: 30px;
}

.input-form {
	width: 380px;
	height: 30px;
	border-radius: 8px;
}

input:FOCUS {
	outline: none;
}

input {
	margin-top: 5px;
	padding-left: 10px;
	font-family: Webly;
}

input[type="submit"]{
	border-radius: 5px;
	font-family: Webly;
	width: 100px;
	height: 30px;
	margin-left: 140px;
	margin-top: -5px;
	font-size: 1em;
	
}

.flushleft {
	float: left;
}

.flushright {
	float: right;
}