/audio/*
!/audio/index.html
/audio/waves/*
!/audio/waves/index.html
/document_thumb/*
!/document_thumb/index.html
/document/*
!/document/index.html
/video/*
!/video/index.html
/document_svg/*
!/document_svg/index.html
/document_pages_pdf/*
!/document_pages_pdf/index.html
/image/*
!/image/index.html
!/image/thumb/index.html



